<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
    <style href="public/stylesheets/styles.css"></style>
</head>
<body>
 
    {{>nav}}
    {{!-- some body that will change depending on users interaction --}}
    {{{body}}}

    {{>footer}}


</body>
</html>